._ {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 1rem;
  top: 3rem;
  width: 11rem;
  height: 8rem;
  padding: 0.5rem 1rem;
  color: var(--background-admin-panel-black);
  border-radius: 0.5rem;
  animation: showDropdown 0.4s ease-out 1;
  background-color: var(--background-admin-panel-white);
  box-shadow: 0 0.5rem 2rem var(--background-admin-panel-shadow),
    0 0.25rem 0.5rem var(--background-admin-panel-shadow),
    0 0.125rem 0.125rem var(--background-admin-panel-shadow);
  z-index: 60;
}

@keyframes showDropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  color: var(--background-admin-panel-white);
  background-color: var(--background-admin-panel-medium);
  cursor: pointer;
}

.button:last-child {
  margin: 0;
}

.button:hover {
  box-shadow: 0 0 0.25rem var(--background-admin-panel-medium);
}

.button:focus,
.button:active {
  outline: none;
  box-shadow: 0 0 0.25rem var(--background-admin-panel-medium);
}

.transparent {
  color: var(--background-admin-panel-medium);
  background-color: transparent;
  transition-duration: 0.4s;
}

.transparent:hover {
  background-color: var(--background-admin-panel-light);
  color: var(--background-admin-panel-black);
  box-shadow: none;
}

.transparent:active {
  box-shadow: 0 0 0.25rem var(--background-admin-panel-light);
  background-color: var(--background-admin-panel-medium);
}

.button .icon {
  display: none;
}

.hidden {
  display: none;
}

.title {
  display: flex;
  line-height: 1rem;
  font-size: 0.8125rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
  color: var(--background-admin-panel-black);
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  width: 100%;
  line-height: 1rem;
  font-size: 0.8125rem;
}
