._ {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 2rem;
  top: 0;
  width: 10rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  animation: showDropdown 0.4s ease-out 1;
  background-color: var(--background-admin-panel-white);
  box-shadow: 0 0.5rem 2rem var(--background-admin-panel-shadow),
    0 0.25rem 0.5rem var(--background-admin-panel-shadow),
    0 0.125rem 0.125rem var(--background-admin-panel-shadow);
  z-index: 10;
}

@keyframes showDropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.form {
  display: flex;
  cursor: pointer;
  width: 100%;
}

.control {
  display: flex;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.radio {
  display: none;
}

.radio:default + .title {
  font-weight: bold;
}

.item {
  display: flex;
  width: 100%;
  height: 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--background-admin-panel-white);
  cursor: pointer;
}

.item:hover {
  background-color: var(--background-admin-panel-light);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  font-size: 0.8125rem;
}
