:root {
  --background-dropdowns-white: #fff;
  --background-dropdowns-shadow: rgba(0, 0, 0, 0.1);
  --background-dropdowns-light: #bad8f5;
  --background-dropdowns-medium: #459df5;
}

._ {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 2.25rem;
  right: 0.5rem;
  width: 10rem;
  height: 5.5rem;
  padding: 1rem;
  opacity: 1;
  color: var(--background-admin-panel-black);
  border-radius: 0.5rem;
  animation: showDropdown 0.4s ease-out 1;
  background-color: var(--background-admin-panel-white);
  box-shadow: 0 0.5rem 2rem var(--background-dropdowns-shadow),
    0 0.25rem 0.5rem var(--background-dropdowns-shadow),
    0 0.125rem 0.125rem var(--background-dropdowns-shadow);
}

@keyframes showDropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.control {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  border: 0;
  width: 100%;
  padding: 0;
  font-size: 0.8125rem;
  outline: 0;
  background-color: var(--background-admin-panel-white);
  color: var(--background-admin-panel-black);
}

.input::placeholder {
  color: var(--background-dropdowns-light);
}

.title {
  display: flex;
  line-height: 1rem;
  font-size: 0.8125rem;
  margin-bottom: 0.5rem;
}

.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  border: 0.0625rem solid var(--background-dropdowns-medium);
  border-radius: 0.25rem;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
  line-height: 1rem;
  background-color: var(--background-admin-panel-white);
}

.inputWrapper:focus-within {
  box-shadow: 0 0 0.5rem var(--background-dropdowns-light);
}

.inputWrapper:active {
  border-color: var(--background-dropdowns-medium);
}
